@media only screen and (max-width: 767px) {
  textarea {
    width: calc(100% - 30px); /* Adjust the width as needed, here it's set to 100% minus 30px for some padding */
  }
}



body {
  background-color: #202124;
  color: #FFFFFF;
    font-family: "Roboto", sans-serif;

}



.feelinghow {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wanttofeel {
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.better12 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.better1 {
  position: absolute;
  top: 150px;
  left: 65%;
  transform: translate(-50%, -50%);
}

.better2 {
  position: absolute;
  top: 300px;
  left: 70%;
  transform: translate(-50%, -50%);
}

.better3 {
  position: absolute;
  top: 450px;
  left: 75%;
  transform: translate(-50%, -50%);
}

.better4 {
  position: absolute;
  top: 600px;
  left: 70%;
  transform: translate(-50%, -50%);
}

.better5 {
  position: absolute;
  top: 750px;
  left: 65%;
  transform: translate(-50%, -50%);
}

.better6 {
  position: absolute;
  top: 850px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.better7 {
  position: absolute;
  top: 750px;
  left: 35%;
  transform: translate(-50%, -50%);
}

.better8 {
  position: absolute;
  top: 600px;
  left: 30%;
  transform: translate(-50%, -50%);
}

.better9 {
  position: absolute;
  top: 450px;
  left: 25%;
  transform: translate(-50%, -50%);
}


.better10 {
  position: absolute;
  top: 300px;
  left: 30%;
  transform: translate(-50%, -50%);
}

.better11 {
  position: absolute;
  top: 150px;
  left: 35%;
  transform: translate(-50%, -50%);
}



textarea {
  background-color: #424242;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

textarea:focus {
  outline: 5px solid lightgrey;
}

label {
  display: block;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}
.save-button {
  position: absolute;
   top: 950px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #303030;

}
.clear-button {
  position: absolute;
  top: 950px;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #303030;
}
.screenshot-button {
  position: absolute;
  top: 950px;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.screenshot-button:hover {
  background-color: #303030;
}

.yellow-textarea {
  background-color: #424242;
  color: #FDD835; /* Yellow font color */
  border: 5px solid #FDD835; /* Yellow border color */
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.yellow-label {
  color: #FDD835; /* Yellow font color */
}

#better1 {
  border: 5px solid #8BC34A;
}

label[for=better1] {
  color: #8BC34A;
}

.start-here-text {
  color: #FF7F7F; /* Light red color */
}

.logo h1 {
  font-size: 48px; /* Adjust to the desired size */
}

.material-icons {
  font-size: 48px; /* Adjust to match the h1 size */
  vertical-align: middle; /* Align the icon with the text */
  color: white;
}

/* ... (previous CSS code) ... */

nav {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px; /* Padding for a larger button area */
  margin-right: 10px; /* Add right margin to create space between buttons */
  border: 2px solid #ffffff; /* White border */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

nav a:last-child {
  margin-right: 0; /* Remove right margin for the last button */
}

nav a:hover {
  text-decoration: none;
  background-color: #ffffff; /* Change background color on hover */
  color: #6200ee; /* Change text color on hover */
}

nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

/* ... (remaining CSS code) ... */
